* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e1e3e4;
}

#app {
  height: 100vh;
  width: 100%;
  overflow: auto;
  display: flex;
  
  #menu {
    height: 100%;
    max-width: 240px;
  }

  .demo-content {
    position: relative;
    flex: 1;

    .top-header {
      position: static;
      top: 0;
      left: 0;
      height: 64px;
      width: 100%;
      padding: 0 16px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 1px 4px 0 #516d9130;

      .header-title {
        color: #3737ff;
        transition: color .2s ease-in-out;
        cursor: pointer;

        &:hover {
          color: cyan;
        }
      }

      .header-logo {
        width: auto;
        height: 80%;
        object-fit: cover;
      }
    }

    .demo-box {
      padding: 16px;

      .buttons-box {
        display: flex;
        flex-wrap: wrap;
        padding: 12px 0;
  
        .demo-button + .demo-button {
          margin-left: 16px;
        }
      }
    }
  }
}

.demo-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #7e97b8;
  background-color: #e0e8ef;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.333);
  border-radius: 16px;
  padding: 10px 28px;
  transition: 0.2s;
  box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
  cursor: pointer;

  &:hover {
    color: #516d91;
    background-color: #E5EDF5;
    box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
  }
  
  &:active {
    box-shadow: none;
  }
}

table {
  display: block;
  border-collapse: collapse;
  margin: 12px 0;
  color: #6b6864;
  overflow-x: auto;
}

table th,
td {
  border: 1px solid #f4f4f4;
  padding: .6em 1em;
}
