.cy-menu {
  --cy-menu-bg-color: #fff;
  --cy-text-color: #213547;

  height: var(--cy-menu-height);
  width: var(--cy-menu-width);
  background-color: var(--cy-menu-bg-color);
  contain: style;

  .cy-menu-header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--cy-menu-bg-color);
  }

  .cy-menu-list {
    width: 100%;

    .cy-menu-item {
      list-style: none;
      color: var(--cy-text-color);
      user-select: none;

      .cy-menu-item-box {
        padding: 0;
        cursor: pointer;

        .cy-menu-item-label {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .cy-menu-item-box+.cy-menu-item-child-list {
        max-height: 0;
        transition: max-height 1s cubic-bezier(0, 1, 0, 1);
        overflow: hidden;
      }

      .cy-menu-item-box+.cy-menu-item-child-list-open {
        max-height: 100vh;
        transition: max-height 1s ease-in-out;
      }

      .cy-menu-item-popover {
        position: fixed;
        left: var(--cy-menu-x, 0);
        top: var(--cy-menu-y, 0);
      }
    }

    &.cy-menu-content-list {
      overflow: hidden;
    }

    &[data-level="0"] {
      padding-bottom: var(--cy-menu-footer-height);
    }
  }

  .cy-menu-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: var(--cy-menu-footer-height);
    line-height: var(--cy-menu-footer-height);
    background-color: var(--cy-menu-bg-color);
  }

  .cy-menu-header,
  .cy-menu-footer {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}