.cy-menu {
  --cy-menu-bg-color: #fff;
  --cy-text-color: #213547;
  --cy-menu-min-width: 40px;

  height: var(--cy-menu-height);
  width: var(--cy-menu-width);
  background-color: var(--cy-menu-bg-color);
  box-shadow: 0 0 40px #00000008;
  contain: style;
  transition: width .5s ease-in-out;

  .cy-menu-header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--cy-menu-bg-color);
  }

  .cy-menu-list {
    width: 100%;

    .cy-menu-item {
      list-style: none;
      color: var(--cy-text-color);
      user-select: none;

      .cy-menu-item-box {
        padding: 4px 12px;
        cursor: pointer;

        &:hover {
          background-color: #f9f8fb;
        }

        .cy-menu-item-label {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .cy-menu-item-box+.cy-menu-item-child-list {
        max-height: 0;
        transition: max-height 1s cubic-bezier(0, 1, 0, 1);
        overflow: hidden;
      }

      .cy-menu-item-box+.cy-menu-item-child-list-open {
        max-height: 100vh;
        transition: max-height 1s ease-in-out;
      }

      .cy-menu-item-popover {
        position: fixed;
        left: var(--cy-menu-x, 0);
        top: var(--cy-menu-y, 0);
      }
    }

    &.cy-menu-content-list {
      overflow: hidden;
    }

    &[data-level="0"] {
      padding-bottom: var(--cy-menu-footer-height);

      &>.cy-menu-item[data-level="0"] {
        padding: 8px 0;
        margin: 0 16px;
        transition: margin .5s ease-in-out;

        &>.cy-menu-item-box {
          padding: 12px 0;
          border-radius: 4px;

          &>.cy-menu-item-label {
            font-weight: bolder;
          }
        }
      }

      .cy-menu-item[data-level="0"]+.cy-menu-item[data-level="0"] {
        border-top: 1px solid #f9f8fb;
      }
    }
  }

  .cy-menu-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: var(--cy-menu-footer-height);
    line-height: var(--cy-menu-footer-height);
    background-color: var(--cy-menu-bg-color);
  }

  .cy-menu-header,
  .cy-menu-footer {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  // 菜单收起样式
  &.cy-menu-shrink {
    width: var(--cy-menu-min-width);

    .cy-menu-list[data-level="0"] {
      &>.cy-menu-item[data-level="0"] {
        margin: 0;
      }
    }
  }
}