.cy-menu {
  --cy-text-color: #213547;

  .cy-menu-list {
    .cy-menu-item {
      list-style: none;
      color: var(--cy-text-color);

      .cy-menu-item-box {
        padding: 0;
      }
    }
  }
}
